

<!-- <div [ngStyle]="{'color': colorVal, 'background-color': '#ddd', }">
    Learning Angular 8 
</div> -->

<div>This is ng style (product) component</div>
<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <img src="../../assets/images/laptop.jpg" width="50px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" >
            <img src="../../assets/images/tablet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tablet</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tablet" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><div class="card" >
            <img src="../../assets/images/tv.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
            </div>
          </div><div class="card" >
            <img src="../../assets/images/washingmachine.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Washing Machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washingmachine" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
</div>
<ng-content></ng-content>
<div appCustom></div>