<p>post-list works!</p>

<div class="row">
    <input placeholder="Enter post value" type="text" #title (keyup.enter)="createPost(title)" class="form-control"> 
</div>

<div class="row">
 <ul class="list-group">
     <li style="text-align: left;" class="list-group-item" *ngFor="let post of posts">
     <button class="btn btn-primary btn-sm" (click)="updatePost(post)">Update</button>  {{post.title}}
     <button class="btn btn-danger btn-sm pull-right" (click)="deletePost(post)">Delete</button>
     </li>
 </ul>
</div>