<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>CURD with Asp.Net Core and SQL</div>
 <!-- <app-ngclass></app-ngclass> -->
  <!-- <app-logintest></app-logintest> -->
  <!-- <app-ngfor></app-ngfor>
  <app-ngswitch></app-ngswitch>
  <div>
    Attribute Directive Example :
  </div> -->
 
  <!-- <app-ngstyle></app-ngstyle>
  <app-ngclass></app-ngclass> -->
<!-- 
  <div>
      Custom Directive Example :
  </div>
  <p >Normal para</p>
  <p appCustom>Custom para</p> -->

   
  <!-- <p>Message : <input [(ngModel)]="msg" /> </p>
  <app-hooks *ngIf="CompExist" [message]="msg">
    This is ng-content {{msg}}
  </app-hooks>
 <br>
 <br>
 
  <button class="btn btn-danger" (click)="destroy()">Destroy Component</button> -->

 
  
  <!-- <app-templateform >
    
  </app-templateform> -->

  <!-- <app-reactiveform></app-reactiveform> -->
<!-- <br>
<br>

<app-templateform></app-templateform> -->
<br>
<br>

<!-- <ng-container *ngFor="let product of products">
  Post Title : <strong class="text-success"> {{product.title}}</strong> <br>
  Post ID : <strong class="text-success"> {{product.id}}</strong><br>
  Post UserID : <strong class="text-success"> {{product.userId}}</strong><br>
  Post Body : <strong class="text-success">{{product.body}}</strong>
</ng-container> -->
<!-- <app-crud></app-crud> -->
<!-- <app-post-list></app-post-list> -->

<!-- <header>
   <nav>
      <ul class="nav nav-tabs">
         <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="aboutus/">About Us</a></li>
         <li class="nav-item"> <a class="nav-link" routerLinkActive="active"  routerLink="contactus/">Contact Us</a></li>
         <li class="nav-item"> <a class="nav-link" routerLinkActive="active"  routerLink="product/">Product</a></li>

      </ul>
   </nav>
</header> -->

<!-- <div class="page-area">
   <h2>Home</h2>
   <div class="box">
     <h1>User name is <span class="text-success">{{userName}}</span></h1>
   </div>
   <div class="row">
    <div class="col-md-6">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-6">
     <app-comp2></app-comp2>
   </div><div class="col-md-6">
     <app-comp3></app-comp3>
   </div><div class="col-md-6">
     <app-comp4></app-comp4>
   </div>
   </div>
</div> -->


<!-- <app-chnagedetection [data]="ExampleObject"></app-chnagedetection>

<button (click)="change()">Change Name</button>
<br>
<br>
<button class="btn btn-success" (click)="changeObject()">Change Object</button> -->
<div class="container">
  <app-employee-details></app-employee-details>
  <!-- <app-comp2></app-comp2> -->

  <!-- <div class="row"> 
    <div class="col-md-6">
    <app-comp1></app-comp1>
  </div>
  </div> -->
 
  <!-- <div class="row"> 
    <div class="col-md-6">
    <app-comp2></app-comp2>
  </div>
  </div>
  <div class="row"> 
    <div class="col-md-6">
    <app-comp3></app-comp3>
  </div>
  </div>
  <div class="row"> 
    <div class="col-md-6">
    <app-comp4></app-comp4>
  </div>
  </div> -->
 
  </div>
<router-outlet></router-outlet>

<!-- <div>
  This is my test div
</div> -->


<!-- <p class="test"  id="pid">This is  my test para</p> -->

<!-- <div class="divtest" id="divid">
  New test 
</div> -->
<!-- <h1>View Encapsulation in Angular</h1>
<p>I am a paragraph in green</p> -->